Source: v2ray-core
Section: net
Priority: optional
Maintainer: ymshenyu <ymshenyu@gmail.com>
Build-Depends:  debhelper-compat (= 12),
                dh-golang,
                golang-any
Standards-Version: 4.5.0
Homepage: https://github.com/v2fly/v2ray-core
#Vcs-Browser: https://salsa.debian.org/debian/v2ray-core
#Vcs-Git: https://salsa.debian.org/debian/v2ray-core.git
Rules-Requires-Root: no
XS-Go-Import-Path: v2ray.com/core

Package: v2ray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: v2ray-domain-list-community,
            v2ray-geoip
Description: Library platform for building proxies in golang
 Project V2Ray is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: v2ray-domain-list-community
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project V2Ray is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: v2ray-geoip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project V2Ray is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.
