#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

BUILDDIR=_build

%:
	dh $@ --builddirectory=$(BUILDDIR) --buildsystem=golang

execute_after_dh_auto_configure:
	go mod vendor
	cp -r vendor/* _build/src

override_dh_auto_build:
	DH_GOPKG="github.com/v2fly/v2ray-core/v5/main" dh_auto_build -- -ldflags "-s -w"
	cd $(BUILDDIR); mv bin/main bin/v2ray

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_test:
